/*
===================================================================================================
html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
html5doctor.com/html-5-reset-stylesheet/
===================================================================================================
*/
/* line 17, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
*, html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 25, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/ */
/* line 47, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* Hack retained to preserve specificity */
/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 51, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/*
===================================================================================================
Minimal base styles.
===================================================================================================
*/
/* j.mp/webkit-tap-highlight-color */
/* line 61, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 64, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 66, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 67, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
a:hover {
  color: #036;
}

/* line 69, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
ul, ol {
  margin-left: 0px;
}

/* line 70, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
ol {
  list-style-type: decimal;
}

/* line 71, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
ul {
  list-style-type: none;
}

/* Remove margins for navigation lists */
/* line 74, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 76, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
small {
  font-size: 85%;
}

/* line 77, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
strong, th {
  font-weight: bold;
}

/* line 79, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
td {
  vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 82, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 83, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
sup {
  top: -0.5em;
}

/* line 84, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
sub {
  bottom: -0.25em;
}

/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
/* line 87, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* 
1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
2) WebKit browsers add a 2px margin outside the chrome of form elements. 
   Firefox adds a 1px margin above and below textareas 
3) Set font-size to match <body>'s, and font-family to sans-serif 
4) Align to baseline 
*/
/* line 99, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* 
1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
2) Align to text-top 
*/
/* line 105, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* Hand cursor on clickable input elements */
/* line 108, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Remove extra padding and inner border in Firefox */
/* line 112, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Colors for form validity */
/* line 116, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 117, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/*
===================================================================================================
Sticky Footer: http://ryanfait.com/sticky-footer/
If a reset is not included... set * margin to 0
===================================================================================================
*/
/* line 126, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
html, body {
  height: 100%;
}

/* line 128, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -150px;
}

/* line 135, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
footer, #footer, #sticky_push {
  height: 150px;
}

/*
===================================================================================================
Basic Styling - These can be tweaked
===================================================================================================
*/
/* line 144, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
/* line 152, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* line 157, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 158, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* For image replacement */
/* line 162, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 166, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 170, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 173, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 176, /Users/ender/Documents/wordpress/s3k/sass/partials/_reset.scss */
.invisible {
  visibility: hidden;
}

/* line 5, /Users/ender/Documents/wordpress/s3k/sass/partials/layout/_ie.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* 
Bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ 
*/
/* line 11, /Users/ender/Documents/wordpress/s3k/sass/partials/layout/_ie.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 60, ../sass/partials/layout/_style_base.scss */
#main {
  /* This styling is here as an example. */
}
/* line 63, ../sass/partials/layout/_style_base.scss */
#main .content {
  background-color: white;
}
/* line 67, ../sass/partials/layout/_style_base.scss */
#main .sidebar {
  background-color: #333333;
}

/* This styling is here as an example. */
/* line 19, ../sass/partials/layout/_style_960.scss */
#main {
  padding: 0px;
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
/* line 5, /Users/ender/Documents/wordpress/s3k/sass/partials/_clearfix.scss */
#main:before {
  content: "";
  display: table;
}
/* line 6, /Users/ender/Documents/wordpress/s3k/sass/partials/_clearfix.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../sass/partials/layout/_style_960.scss */
#main .content {
  display: inline;
  float: left;
  position: relative;
  width: 630px;
  margin: 0px 10px;
  margin-left: 0;
}
/* line 27, ../sass/partials/layout/_style_960.scss */
#main .sidebar {
  display: inline;
  float: left;
  position: relative;
  width: 310px;
  margin: 0px 10px;
  margin-right: 0;
}

/*
===================================================================================================
Print styles. Include this at the end.
Inline this to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
===================================================================================================
*/
@media print {
  /* line 9, ../sass/partials/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 11, ../sass/partials/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 12, ../sass/partials/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 13, ../sass/partials/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 14, ../sass/partials/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 15, ../sass/partials/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 16, ../sass/partials/_print.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 17, ../sass/partials/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 18, ../sass/partials/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 20, ../sass/partials/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 21, ../sass/partials/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
