# The dir for the files built by HTML5 Boilerplate #
####################################################
publish

# WP Style.css File   #
#######################
style.css

# Editor Project File #
#######################
*.sublime-project

# SASS Cache File     #
#######################
.sass-cache